* {
    box-sizing: border-box;
}

main {
    background: #f2f2f2;
    padding-bottom: 100px;
}

main section:nth-of-type(1) {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

main section:nth-of-type(1) aside {
    width: 250px;
    height: 400px;
    margin: 20px 0;
}

main section:nth-of-type(1) aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(1) aside ul li {
    width: 100%;
    height: 11.12%;
    background: #f35a7a;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

main section:nth-of-type(1) aside ul li a:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    transition: 0.5s;
}

main section:nth-of-type(1) aside ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

main section:nth-of-type(1) section {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(1) section nav {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

main section:nth-of-type(1) section nav a {
    width: auto;
    height: auto;
}
  
.mySlides {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

main aside {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

main section:nth-of-type(2) {
    width: 1200px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: #fff;
}

main section:nth-of-type(2) div {
    width: 600px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

main section:nth-of-type(2) div a {
    width: 120px;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(2) div a img:hover {
    cursor: pointer;
    width: 110px;
    height: 140px;
}

main section:nth-of-type(2) div div {
    width: 420px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 20px 20px;
}

@media only screen and (max-width: 1200px) {

    main section {
        width: 100%;
    }

    main section:nth-of-type(1) {
        flex-direction: column;
        width: 100%;
    }

    main section:nth-of-type(1) aside {
        display: none;
    }

    main section:nth-of-type(1) div:nth-of-type(2) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main section:nth-of-type(2) {
        width: 900px;
    }

    main section:nth-of-type(2) div {
        width: 100%;
    }

    main section:nth-of-type(2) div div {
        width: 300px;
    }
}

@media only screen and (max-width: 900px) {

    main section:nth-of-type(1) {
        display: none;
    }

    main section:nth-of-type(2) {
        width: 600px;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {

    main section{
        width: 100%;
    }

    main section:nth-of-type(2) {
        width: 100%;
    }

    main aside {
        width: 100%;
    }

    main { 
        padding: 0 10px;
    }

    main div { 
        padding: 10px 0;
    }
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}